.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto auto ;
}

.grid-item2 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 170px 170px;
    grid-gap: 10px;
}

#hero {
    background-color: aqua;
    grid-column: 1 / span 2;
}
#sidebar {
    background-color: aquamarine;
    grid-column: 3;
    grid-row: span 2;
}

.content {
    background-color: lightskyblue;
}
