* {
    margin: 0;
    padding: 0;
    font-family:garamond, sans-serif;
}

.bgcolor {
    background-color: black;
    height: 100%;
}

.background {
    background:rgba(0,0,0,0.75
    ) url(../Img/bg.jpg);
    background-blend-mode: darken;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 10px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mylogo {
    width: 120px;
    margin: 10% 0 0 5%;
    cursor: pointer;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after {
    width: 100%;
}

.logo {
    width: 200px;
    border-radius: 50%;
    margin-top: 300px;
}

header {
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: garamond;
    margin-top: 1%;
}

p {
    margin-top: 5%;
    font-family: garamond;
    font-size: 30px;
}

.jersey {
    margin-top: 5%;
    width: 300px;
    border: 1px solid goldenrod;
    display: inline-block;
    flex-wrap: wrap;
}

.jersey:hover {
    border: 2px solid gold;
}

.yrandname {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.bg {
    margin: 0 0 0 50%;
    background-image: url(../Img/trophy.jpg);
    background-repeat: no-repeat;
}

.background1 {
    background-image: url(../Img/trophy1.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center left 10% ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    color: whitesmoke;
    font-family: garamond;
    background-image:url(../Img/trophy.jpg);
    background-repeat: no-repeat;
    background-position: center right 10%;
}

.awards {
    margin: 20%;
    letter-spacing: 2px;
}

.awards h2 {
    margin-bottom: 20px;
    font-size: 80px;

}

.awards ul li {
    font-size: 50px;
    margin: 20px;
    list-style-type: circle;
}